

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.map {
  height: 100vh;
  width: 100vw;
}
.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-bottom-left {
  display: none;
}
.date {
  position: absolute;
  z-index: 2;
  height: 50px;
  width: 60px;
  bottom: 10px;
  right: 10px;
  padding: 5px;
  border-radius: 5px;
  background: #ffffff;
  text-align: center;
}
.mapboxgl-ctrl-pitchtoggle-3d {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjNEPC90ZXh0Pjwvc3ZnPg==);
}
.mapboxgl-ctrl-pitchtoggle-2d {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjJEPC90ZXh0Pjwvc3ZnPg==);
}

/* body CSS */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.date h6,
.date-connect h6 {
  margin: 1px 0;
  color: #ff000f;
}
.date h1,
.details1 h1,
.details2 h1 {
  font-weight: 500;
}
.details1,
.details2 {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  border-radius: 5px;
  padding: 5px;
  background: #ffffff;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.details1 {
  height: 50px;
  width: 150px;
  left: 10px;
}
.vr {
  height: 50px;
  width: 1px;
  background: #aaa;
}
.details2 {
  height: 50px;
  width: 225px;
  left: 50%;
  transform: translate(-50%, 0);
}
#settings {
  font-size: 29px;
  position: absolute;
  top: 135px;
  right: 0;
  margin: 10px 10px 0 0;
  color: #ffffff;
  cursor: pointer;
}
#settings:hover {
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
  }
}
.settings {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 3;
  display: none;
}
.settings .setting {
  height: 300px;
  width: 300px;
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
}
.settings .setting i {
  font-size: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.settings .setting .split,
.setting .connect {
  margin: 15px;
}
.settings .setting span {
  margin: 10px;
}
.settings .setting input[type="radio"] {
  cursor: pointer;
}
.settings .setting img {
  height: 100px;
  width: 250px;
  display: block;
  margin: auto;
}